*{
margin: 0%;
padding: 0%;
}
 body{
    background: linear-gradient(to right,rgb(18, 192, 12), rgb(5, 102, 57), rgb(9, 148, 9));
 }
h1{
    color: #ffffff;
}
p{
    color: #ffffff;
}












.cabecalho{
background-color: #00ff40;
padding: 30px;
text-align: center;
}