*{
margin: 0%;
padding: 0%;
}
 body{
    background: linear-gradient(to right,rgb(109, 3, 151), rgb(13, 3, 158), rgb(11, 8, 206));
 }
h1{
    color: #ffffff;
}
p{
    color: #ffffff;
}












.cabecalho{
background-color: #00ff40;
padding: 30px;
text-align: center;
}