*{
margin: 0%;
padding: 0%;
}
 body{
    background: linear-gradient(to right,rgb(2, 35, 128), rgb(4, 23, 107), rgb(5, 3, 156));
 }
h1{
    color: #ffffff;
}
p{
    color: #ffffff;
}












.cabecalho{
background-color: #08236d;
padding: 30px;
text-align: center;
display: flex;

}
.futsal{
    padding: 20px;
    right: 0%;
}